#about {
    height: calc( 100dvh - var(--navbarheight) );
    text-align: center;
    background-color: var(--lighter);
    display: flex;
    flex-direction: row;
  }
#about .about-text-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    color: var(--dark);
  }

  #about .about-text-container p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  #about .about-img-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }
  #about .about-img {
    height: 80%;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }