:root {
  --navbarheight: 8dvh;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbarheight);
  background-color: var(--darker);
  padding: 0.2rem 1rem 0.2rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar-name {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
  color: var(--lighter);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 900;
}
.navbar-lead {
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  padding: 9px;
}
.navbar-lead .navbar-name {
  display: inline-block;
  transition: transform var(--shortdelay) ease-out;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--lighter);
}
.navbar-lead .navbar-name:hover {
  transform: scale(1.04);
}
.burger-icon {
  text-align: end;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  z-index: 1001;
  height: 50px;
  width: 50px;
  color: var(--darker);
}
.burger-icon.open svg {
  color: var(--lighter);
}
@media screen and (max-width: 768px) {
  .navbar {
    background-color: var(--lighter);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
  }
  .navbar-name {
    font-size: 1.2rem;
    color: var(--darker);
  }
  .burger-icon {
    display: flex;
    
  }

  .navbar-lead {
    position: fixed;
    top: 0;
    right: -100vw;
    height: 100vh;
    width: 50%;
    background-color: var(--darker);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in-out;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  }

  .navbar-lead.active {
    transform: translateX(-100vw);
  }
}