:root {
  --navbarheight: 8dvh;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbarheight);
  background-color: var(--darker);
  padding: 0.2rem 1rem 0.2rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar-name {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
  color: var(--lighter);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 900;
}
.navbar-lead {
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  padding: 9px;
}
.navbar-lead .navbar-name {
  display: inline-block;
  transition: transform var(--shortdelay) ease-out;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--lighter);
}
.navbar-lead .navbar-name:hover {
  transform: scale(1.04);
}
@media (max-width: 600px) {
  .navbar {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .navbar-name {
    font-size: 1.5em;
  }
  .navbar-lead {
    gap: 1.5rem;
    padding: 5px;
  }
  .navbar-lead .navbarlink {
    font-size: 1.2em;
  }
}
