*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lighter: #f3f1e8;
  --light: #d3d2ca;
  --dark: #696760;
  --darker: #312d2b;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  scroll-behavior: smooth;
  background-color: var(--lighter);
}
body { 
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
